# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_SWEEP_SQUARE_LEFT
    def_bool $(shields_list_contains,sweep_square_left)

config SHIELD_SWEEP_SQUARE_RIGHT
    def_bool $(shields_list_contains,sweep_square_right)
